.App {
  text-align: center;
}

header, footer {
  background-color: #3473ff;
  color: #e6e6e6;
  line-height: 75px;
  height: 75px;
}

.btn{
  margin: 16px; 
  font-size: 18px;
  background-color: #3473ff;
  border: 1px solid #e6e6e6;
  color: #e6e6e6;
  padding: 8px;
  transition: 500ms ease-in-out;
}

.btn:hover{
  cursor: pointer;
  font-size: 22px;
  border-radius: 0;
}

.landing-page{
  display: flex;
  width: 90%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.landing-card{
  height: 100%;
  width: 100%;
}

.landing-instructions{
  width: 400px;
  margin: 16px;
  overflow-y: scroll;
}

.instructions{
  text-align: left;
  padding: 8px;
}

.instructions>p{
  padding: 8px;
  margin: 4px;
  text-indent: 10px;
}

.card-container{
  height: calc(100vh - 150px);
  overflow-y: scroll;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards{
  width: 350px;
  height: 250px;
  margin: 16px;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0, .5);
}

.cards > h1{
  line-height: 250px;
  margin: 0;
}

.button-container {
  position: relative;
}

.button-container >input{
  position: absolute;
  top: -5px;
  right: -5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  transition: 500ms ease-in-out;
}

.button-container >input:hover{
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: -10px;
  height: -10px;
  background-color: #3473ff;
  color: #e6e6e6
}

@media only screen and (max-width: 675px){
.landing-instructions{
  display: none;
}
.landing-page{
  width: 90%;
}
.landing-card{
  width: 100%;
}
}